# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""


BBLAYERS ?= " \
  ${BBPATH}/../meta \
  ${BBPATH}/../meta-yocto \
  ${BBPATH}/../meta-intel-iot-devkit \
  ${BBPATH}/../meta-intel-quark-fast \
  ${BBPATH}/../meta-intel-iot-middleware \
  ${BBPATH}/../meta-intel-quark \
  ${BBPATH}/../meta-intel-galileo \
  ${BBPATH}/../meta-netcontiki \
  ${BBPATH}/../meta-openembedded/meta-networking \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  ${BBPATH}/../meta \
  ${BBPATH}/../meta-yocto \
  "

